<div class="flex-1 container mx-auto px-4 py-8 mt-8 mb-24">
  <h1 class="text-2xl text-center md:text-left md:text-4xl font-extrabold text-green-700 mb-16">Duck Image Viewer</h1>

  <!-- Duck image section -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-8 place-items-center mb-16">
    <div *ngFor="let image of duckImages" 
         [ngClass]="{
           'md:col-span-2 md:w-1/2': duckImages.length === 1,
           'w-full': duckImages.length > 1
         }"
         class="group w-full">
      <a [href]="image" target="_blank" 
          class="block overflow-hidden rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 h-full">
        <div class="h-96 relative">
          <img [src]="image" [alt]="'Duck image ' + image"
               class="inset-0 w-full h-full object-cover bg-gray-50">
        </div>
        <p class="p-4 text-center text-sm text-gray-600 bg-gray-50 group-hover:text-blue-600">
          {{ image.split('/').pop() }}
        </p>
      </a>
    </div>
  </div>

  <!-- Error section -->
  <div *ngIf="error" class="mt-4 p-4 bg-red-100 text-red-700 rounded-md">
    {{ error }}
  </div>

  <!-- Form section -->
  <div class="fixed bottom-0 left-0 right-0 bg-yellow-200 shadow-lg p-4">
    <div class="container mx-auto max-w-2xl">
      <form [formGroup]="duckForm" (ngSubmit)="fetchDucks()" class="flex items-center gap-4 flex-col md:flex-row md:justify-between">
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" formControlName="isRandom" (change)="toggleMode()"
                  class="form-checkbox h-5 w-5 accent-green-700">
          <span class="text-gray-700">Random Duck</span>
        </label>
        
        <input type="text" formControlName="id" placeholder="Enter duck ID"
                [class.hidden]="duckForm.get('isRandom')?.value"
                class="flex-1 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        
        <button type="submit" [disabled]="duckForm.invalid || loading"
                class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
          {{ loading ? 'Loading...' : 'Get ducks!' }}
        </button>
      </form>
    </div>
  </div>
</div>